<ion-content class="parent-header background-color-darker">
  <ion-segment (ionChange)="onSegmentChanged($event)" [(ngModel)]="segmentSelection">
    <ion-segment-button value="overview">
      <ion-label>Overview</ion-label>
    </ion-segment-button>
    <ion-segment-button value="traits">
      <ion-label>Traits</ion-label>
    </ion-segment-button>
    <ion-segment-button value="abilities">
      <ion-label>Skills</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid [ngSwitch]="segmentSelection" fixed>
    <!-- OVERVIEW TAB -->
    <ion-row *ngSwitchCase="'overview'">
      <ion-col size="12">
        <div class="stats-box">
          <ion-text class="ion-text-center" color="primary">
            <h5>Primary Stats</h5>
          </ion-text>
          <div class="stats-items-list" style="display: flex; flex-wrap: wrap;">
            <!-- ngfor here -->
            <div class="stat-item" style="display: flex;">
              <b>Health</b>
              <div></div>
              <span>150</span>
            </div>
            <div class="stat-item" style="display: flex;">
              <b>Stamina</b>
              <div></div>
              <span>50</span>
            </div>
            <div class="stat-item" style="display: flex;">
              <b>Power</b>
              <div></div>
              <span>50</span>
            </div>
            <div class="stat-item" style="display: flex;">
              <b>Attack</b>
              <div></div>
              <span>50</span>
            </div>
            <div class="stat-item" style="display: flex;">
              <b>Defence</b>
              <div></div>
              <span>50</span>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="stats-box">
          <ion-text class="ion-text-center" color="primary">
            <h5>Secondary Stats</h5>
          </ion-text>
          <div class="stats-items-list" style="display: flex; flex-wrap: wrap;">
            <!-- ngfor here -->
            <div class="stat-item" style="display: flex;">
              <b>Stealth</b>
              <div></div>
              <span>6</span>
            </div>
            <div class="stat-item" style="display: flex;">
              <b>Lock Picking</b>
              <div></div>
              <span>6</span>
            </div>
            <div class="stat-item" style="display: flex;">
              <b>Sly Hands</b>
              <div></div>
              <span>6</span>
            </div>
            <div class="stat-item" style="display: flex;">
              <b>Charisma</b>
              <div></div>
              <span>6</span>
            </div>
            <div class="stat-item" style="display: flex;">
              <b>Herbalism</b>
              <div></div>
              <span>6</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- TRAITS TAB -->
    <ion-row *ngSwitchCase="'traits'">
      <ion-col class="flex-between" size="12">
        <ion-button size="small">
          arrange
        </ion-button>
        <ion-text color="primary">
          <h2>Traits</h2>
        </ion-text>
        <ion-fab-button size="small">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col size="12">
        <ion-accordion-group>
          <ion-reorder-group disabled="true">
            <!-- ngFor the selected Traits here -->
            <ion-item>
              <ion-reorder slot="start"></ion-reorder>
              <ion-accordion class="selected-item" value="colors">
                <ion-item slot="header">
                  <div class="flex-between selected-header">
                    <div>Hard Worker</div>
                    <div>12 AP</div>
                  </div>
                </ion-item>
                <ion-list class="selected-details" slot="content">
                  <hr>
                  <p>
                    Roll 6 dice plus your total M. Enemy rolls Ag -75% to deduct Dmg from your roll.
                    If it Hits every unit imediatly adjacent to target suffers 25% of the Dmg afflicted.
                    (Can be used to counter energy based attacks if your Action is still available this turn)
                  </p>
                </ion-list>
              </ion-accordion>
            </ion-item>
          </ion-reorder-group>
        </ion-accordion-group>
      </ion-col>
    </ion-row>

    <!-- Skills TAB -->
    <ion-row *ngSwitchCase="'abilities'">
      <ion-col class="flex-between" size="12">
        <ion-button size="small">
          arrange
        </ion-button>
        <ion-text color="primary">
          <h2>Skills</h2>
        </ion-text>
        <ion-fab-button size="small">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col size="12">
        <ion-accordion-group>
          <ion-reorder-group disabled="true">
            <!-- ngFor the selected Traits here -->
            <ion-item>
              <ion-reorder slot="start"></ion-reorder>
              <ion-accordion class="selected-item" value="colors">
                <ion-item slot="header">
                  <div class="flex-between selected-header">
                    <div>Swordsmanshop</div>
                    <div>20 AP</div>
                  </div>
                </ion-item>
                <ion-list class="selected-details" slot="content">
                  <hr>
                  <p>
                    Roll 6 dice plus your total M. Enemy rolls Ag -75% to deduct Dmg from your roll.
                    If it Hits every unit imediatly adjacent to target suffers 25% of the Dmg afflicted.
                    (Can be used to counter energy based attacks if your Action is still available this turn)
                  </p>
                </ion-list>
              </ion-accordion>
            </ion-item>
          </ion-reorder-group>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>