<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="characterSer.selectedCharacters && characterSer.selectedCharacters.getValue()[0]" slot="start">
      <ion-select interface="popover" [value]="(characterSer.selectedCharacters | async)[0].characterId" (ionChange)="onViewChange($event)">
        <ion-select-option *ngFor="let char of (characterSer.selectedCharacters | async)" [value]="char.characterId">
          {{char.characterName }}</ion-select-option>
      </ion-select>
    </ion-title>
    <ion-title>Lvl 5</ion-title>
    <ion-fab-button id="click-trigger" size="small" slot="end">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-popover #popover trigger="click-trigger" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <a>
            <ion-item lines="full" [routerLink]="['/my-profile']" [queryParams]="{breadcrumb: 'character-tabs'}"
              (click)="popover.dismiss()">
              <ion-label>My Profile</ion-label>
            </ion-item>
          </a>
          <a>
            <ion-item lines="full" [routerLink]="['/main-lobby']" (click)="popover.dismiss()">
              <ion-label>Main Menu</ion-label>
            </ion-item>
          </a>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon name="man-outline"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="equipment">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Equipment</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="skills">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Skills</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="abilities">
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label>Abilities/Traits</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="party">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Party</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>