<ion-content [scrollEvents]="true">
  <ion-text color="primary" class="ion-text-center">
    <h1 *ngIf="!isSelectMode">Abilities</h1>
    <h1 *ngIf="isSelectMode">Select An Ability <span style="font-size: 12pt;">(remaining AP: {{ creation.abilityPoints
        }})</span></h1>
  </ion-text>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar [(ngModel)]="searchInput" placeholder="Search" inputmode="text" type="text"
          (ionChange)="onFilterChange($event)" [debounce]="250"></ion-searchbar>
      </ion-col>
      <ion-col size="6">
        <div class="clear-filter">
          <ion-icon *ngIf="tagFilterTxt && tagFilterTxt.length > 0" slot="start" name="close" (click)="tagFilter.value = ''"></ion-icon>
        </div>
        <ion-item>
          <ion-label position="floating">Tags</ion-label>
          <ion-select #tagFilter [(ngModel)]="tagFilterTxt" placeholder="Filter By Tags" multiple="true"
            (ionChange)="onFilterChange($event)">
            <ion-select-option value="foundation">Foundation</ion-select-option>
            <ion-select-option value="warrior">Warrior</ion-select-option>
            <ion-select-option value="templar">Templar</ion-select-option>
            <ion-select-option value="knight">Knight</ion-select-option>
            <ion-select-option value="rogue">Rogue</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Lvl:</ion-label>
          <ion-input type="number" placeholder="Filter By Lvl"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div *ngIf="isLoading" class="loading-icon">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <ion-accordion-group #accordionGroup>
          <ion-accordion [id]="ability.title.toLowerCase()" *ngFor="let ability of filteredAbilities"
            class="legends-item" [value]="ability.title.toLowerCase()">
            <ion-item slot="header">
              <div class="flex-between item-header">
                <div class="flex-between" style="align-items:center">
                  <ion-thumbnail *ngIf="ability.image && ability.image[0]">
                    <img [src]="ability.image[0].url" />
                  </ion-thumbnail>
                  <div class="title-txt">{{ ability.title }}</div>
                </div>
                <div><span *ngIf="ability.tags[0] === 'Foundation'"><b>({{ ability.tags }}) </b></span>{{
                  ability.points_req }} AP</div>
              </div>
            </ion-item>
            <ion-list class="item-details" slot="content">
              <hr>
              <div class="flex-between wrap-reverse">
                <div>
                  <div class="item-details-title">
                    <span *ngIf="ability.prereq"><b>Prerequisites: </b>
                      <span *ngFor="let req of ability.prereq">
                        <a (click)="onGoToPrereq(req.toLowerCase())"
                          [ngClass]="hasAbility(req)?'color-blue':'color-red'">{{ req }}</a>,
                      </span>
                    </span>
                    <span><b>Tags: </b>{{ ability.tags }}</span>
                    <span *ngIf="ability.execution_cost"><b>Cost: </b>{{ ability.execution_cost }}</span>
                    <span *ngIf="ability.turn_units_req"><b>Requires: </b>{{ ability.turn_units_req }}</span>
                  </div>
                  <div>
                    <p>{{ ability.effect }}</p>
                    <p>{{ ability.description }}</p>
                  </div>
                </div>
                <div style="width: 120px;">
                  <ion-img *ngIf="ability.image && ability.image[0]" [src]="ability.image[0].url"></ion-img>
                </div>
              </div>
              <div class="ion-text-center" *ngIf="isSelectMode">
                <ion-text color="danger">
                  <span *ngIf="creation.abilityPoints < ability.points_req">Not Enough Ability Points</span>
                  <span *ngIf="!isPrereqMet(ability)">You do not have the prerequisite abilities</span>
                </ion-text>
                <ion-button *ngIf="!hasAbility(ability.title)" [disabled]="!isPrereqMet(ability) || creation.abilityPoints < ability.points_req"
                  (click)="onAbilitySelected(ability)" expand="block" shape="round">
                  Select Item
                </ion-button>
              </div>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>