<ion-header>
  <ion-toolbar>
    <ion-title>Create New Game Room</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="createRoomForm" action="">
    <ion-item>
      <ion-label position="floating">Room Name</ion-label>
      <ion-input aria-label="Room Name" [formControl]="roomName" type="text" placeholder="Enter Room Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Player Limit:</ion-label>
      <ion-icon color="primary" name="remove-circle" (click)="addPlayerLimit(-1)"></ion-icon>
      <p class="totalCharacters">{{ playerLimit? playerLimit : 'No Limit' }}</p>
      <ion-icon color="primary" name="add-circle" (click)="addPlayerLimit(1)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Characters Per Player:</ion-label>
      <ion-icon color="primary" name="remove-circle" (click)="addCharactersPerPlayer(-1)"></ion-icon>
      <p class="totalCharacters">{{ charactersPerPlayer? charactersPerPlayer : 'No Limit' }}</p>
      <ion-icon color="primary" name="add-circle" (click)="addCharactersPerPlayer(1)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Total Characters Allowed:</ion-label>
      <ion-icon color="primary" name="remove-circle" (click)="addTotalCharactersAllowed(-1)"></ion-icon>
      <p class="totalCharacters">{{ totalCharacters? totalCharacters : 'No Limit' }}</p>
      <ion-icon color="primary" name="add-circle" (click)="addTotalCharactersAllowed(1)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Public Room</ion-label>
      <ion-checkbox [formControl]="publicGame">Public Room</ion-checkbox>
    </ion-item>
  </form>
</ion-content>
<ion-toolbar>
  <ion-button [disabled]="!createRoomForm.valid" (click)="onCreateRoom()" expand="block">
    Create Room
  </ion-button>
</ion-toolbar>