<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-title>
            Main Lobby
          </ion-title>
        </ion-col>
        <ion-col size="6">
          <ion-item *ngIf="(auth.Player$ | async) as player" lines="none">
            <ion-fab-button slot="end" [routerLink]="['/encyclopedia-tabs']" [queryParams]="{breadcrumb: 'main-lobby'}"
              routerLinkActive="router-link-active" ariaLabel="encyclopedia">
              <ion-icon id="encyclopedia-icon" name="library-outline" ariaLabel="Encyclopedia"></ion-icon>
            </ion-fab-button>
            <ion-avatar *ngIf="setProfileInfo(player)" class="ion-justify-content-center" slot="end"
              [routerLink]="['/my-profile']" [queryParams]="{breadcrumb: 'main-lobby'}"
              routerLinkActive="router-link-active">
              <img *ngIf="photoUrl" [src]="photoUrl">
              <ion-text *ngIf="!photoUrl" color="primary">
                {{avatarText}}
              </ion-text>
              <ion-icon *ngIf="!isLoading && !auth.Player$" color="secondary" name="person-circle-outline"></ion-icon>
            </ion-avatar>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="background-color-darker">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            @if (playerCharacters) {
            <ion-card-subtitle>Characters:{{playerCharacters.length}}</ion-card-subtitle>
            }
            <ion-card-title>
              <div class="character-list">
                @for (character of playerCharacters; track character.characterId; let i = $index) {
                <div class="character" [routerLink]="['/character-tabs/main']" routerLinkActive="router-link-active"
                  [queryParams]="{breadcrumb: 'main-lobby', viewMode: 'personal', characterIndex: i, characterId: character.characterId}">
                  <ion-img [src]="character.portraitUrl"></ion-img>
                  <p>{{ character.characterName }}</p>
                </div>
                }
              </div>
            </ion-card-title>
            <ion-button [routerLink]="['/select-character']" [queryParams]="{breadcrumb: 'main-lobby'}">
              Manage Characters
            </ion-button>
            <ion-card-title
              *ngIf="!charactersService.selectedCharacters || (charactersService.selectedCharacters | async).length == 0"
              class="ion-text-center">
              You do not have any selected characters, please select one before proceeding</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card *ngIf="(auth.Player$ | async) as player" class="player-games">
          <ion-card-header>
            <ion-card-subtitle>Current Game</ion-card-subtitle>
            @if (currentGame && currentGame.gameRoomName) {
            <ion-item>
              <ion-card-title>{{ currentGame.gameRoomName }}</ion-card-title>
              @if (currentGame && currentGame.gameMasterId === player.playerId) {
              <ion-fab-button slot="end" color="danger" aria-label="Delete" (click)="onDeleteGame(player, currentGame)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-fab-button>
              } @else {
              <ion-fab-button slot="end" color="warning">
                <ion-icon name="log-out-outline"></ion-icon>
              </ion-fab-button>
              }
            </ion-item>
            } @else {
            <ion-card-title>You are not part of any current games</ion-card-title>
            }
          </ion-card-header>
          <ion-card-content>
            <h3>Games you belong to:</h3>
            @for (gameRoom of playerGameRooms; track gameRoom.gameRoomId) {
            <ion-item>
              <ion-label>{{ gameRoom.gameRoomName }}</ion-label>
              @if (gameRoom.charactersId && gameRoom.charactersId.length > 0) {
              <div class="gameroom-portrait-list">
                @for (id of gameRoom.charactersId; track id) {
                <div slot="" class="character thumbnail">
                  <ion-img [src]="characterPortraits.get(id)"></ion-img>
                </div>
                }
              </div>
              }
              @if(player.currentGameRoom !== gameRoom.gameRoomId) {
              <ion-fab-button slot="end" (click)="onGoToGame(player, gameRoom)">
                <ion-icon name="arrow-redo-outline"></ion-icon>
              </ion-fab-button>
              } @else {
              <div style="width: 44px;"></div>
              }
              @if (gameRoom && gameRoom.gameMasterId === player.playerId) {
              <ion-fab-button slot="end" color="danger" (click)="onDeleteGame(player, gameRoom)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-fab-button>
              } @else {
              <ion-fab-button slot="end" color="warning" (click)="onLeaveGameRoom(player, gameRoom)">
                <ion-icon name="log-out-outline"></ion-icon>
              </ion-fab-button>
              }
            </ion-item>
            }
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Enter game number to join a new game</ion-label>
          <ion-input type="text" placeholder="Awesome Input"></ion-input>
        </ion-item>
        <div class="ion-text-end">
          <ion-button>
            Join
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card *ngIf="(auth.Player$ | async) as player">
          <ion-card-header>
            <ion-card-subtitle>Search Public Games
              <ion-button size="small">
                Refresh
              </ion-button>
            </ion-card-subtitle>
            <ion-card-content>
              @if (publicGameRooms && publicGameRooms.length > 0) {
              @for (publicGame of publicGameRooms; track publicGame.gameRoomId) {
              <ion-item>
                <ion-label>{{ publicGame.gameRoomName }}</ion-label>
                <!-- // Chech if player is already part of the gameroom -->
                @if(publicGame.playersId && publicGame.playersId.includes(player.playerId)) {
                already a member
                } @else {
                <ion-button (click)="onJoinNewGame(player, publicGame)" expand="block">
                  Join Game
                </ion-button>
                }
              </ion-item>

              }
              }
            </ion-card-content>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-popover trigger="hover-trigger" triggerAction="hover">
  <ng-template>
    <ion-content class="ion-padding">Hello World!</ion-content>
  </ng-template>
</ion-popover>

<ion-footer>
  <ion-toolbar>
    <div *ngIf="(auth.Player$ | async) as player">
      <ion-button *ngIf="player && player.playerStatus === 'gameMaster'" slot="start"
        (click)="onOpenCreateRoomModal(player)">
        Create Game
      </ion-button>
    </div>
    <ion-button slot="end" [routerLink]="['/select-character']" [queryParams]="{breadcrumb: 'main-lobby'}">
      Character Selection
    </ion-button>

  </ion-toolbar>
</ion-footer>