<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-title>
            Main Lobby
          </ion-title>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-fab-button slot="end" [routerLink]="['/encyclopedia-tabs']" [queryParams]="{breadcrumb: 'main-lobby'}"
              routerLinkActive="router-link-active" ariaLabel="encyclopedia">
              <ion-icon id="encyclopedia-icon" name="library-outline" ariaLabel="Encyclopedia"></ion-icon>
            </ion-fab-button>
            <ion-avatar class="ion-justify-content-center" slot="end" [routerLink]="['/my-profile']"
              [queryParams]="{breadcrumb: 'main-lobby'}" routerLinkActive="router-link-active">
              <img *ngIf="photoUrl" [src]="photoUrl">
              <ion-text *ngIf="!photoUrl" color="primary">
                {{avatarText}}
              </ion-text>
              <ion-icon *ngIf="!isLoading && !auth.Player$" color="secondary" name="person-circle-outline"></ion-icon>
            </ion-avatar>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="background-color-darker">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle *ngIf="charactersService.selectedCharacters">Selected Characters:
              {{(charactersService.selectedCharacters | async).length}}</ion-card-subtitle>
            <ion-card-title
              *ngIf="charactersService.selectedCharacters && (charactersService.selectedCharacters | async).length > 0">
              <div class="character-list">
                <div *ngFor="let character of charactersService.selectedCharacters | async" class="character">
                  <ion-img [src]="character.portraitUrl"></ion-img>
                  <p>{{ character.characterName }}</p>
                </div>
              </div>
            </ion-card-title>
            <ion-button  expand="block" [routerLink]="['/character-tabs']" routerLinkActive="router-link-active" >
              View Character<span *ngIf="charactersService.selectedCharacters && (charactersService.selectedCharacters | async).length > 1">s</span>
            </ion-button>
            <ion-card-title
              *ngIf="!charactersService.selectedCharacters || (charactersService.selectedCharacters | async).length == 0"
              class="ion-text-center">
              You do not have any selected characters, please select one before proceeding</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Current Room</ion-card-subtitle>
            <ion-card-title>Weazel's Room</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h3>Rooms you belong to:</h3>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
              <ion-button>
                Leave Room
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Enter room number to join a new room</ion-label>
          <ion-input type="text" placeholder="Awesome Input"></ion-input>
        </ion-item>
        <div class="ion-text-end">
          <ion-button>
            Join
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Search Public Rooms
              <ion-button size="small">
                Refresh
              </ion-button>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="start">
      Create a Room
    </ion-button>
    <ion-button slot="end" [routerLink]="['/select-character']" [queryParams]="{breadcrumb: 'main-lobby'}">
      Character Selection
    </ion-button>

  </ion-toolbar>
</ion-footer>