<ion-content class="parent-header background-color-darker">
  <ion-grid class="h-100" fixed>
    <ion-row class="h-100">
      <ion-col class="equipment-sheet" size="12">
        <ion-row>
          <!-- HEAD -->
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="img-slot">
                <ion-img [src]="getImgFromId(character.equipments.headId, 
                  '../../../assets/icons/helmet-empty.png')">
                </ion-img>
              </div>
              <div class="box-title"><b>Head</b></div>
              <div class="edit-icon icon-btn">
                <ion-icon slot="end" name="pencil" (click)="onSelectEquipment('head', character.equipments.headId)"></ion-icon>
              </div>
              <div class="box-body">
                <span>Leather Cap</span>
              </div>
              <div class="arrow-icon icon-btn">
                <ion-icon *ngIf="!isShowHead" name="chevron-down-outline" (click)="isShowHead = true"></ion-icon>
                <ion-icon *ngIf="isShowHead" name="chevron-up-outline" (click)="isShowHead = false"></ion-icon>
              </div>
              <div *ngIf="isShowHead" class="effects-area">
                +1A +3D
              </div>
            </div>
          </ion-col>
          <!-- Armor -->
          <ion-col size="6">
            <div class="stats-box">
              <span><b>Total Armor:</b> 435</span>
            </div>
          </ion-col>
          <!-- MAIN HAND -->
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="img-slot">
                <ion-img [src]="getImgFromId(character.equipments.mainHandId, 
                  '../../../assets/icons/main-hand-empty.png')">
                </ion-img>
              </div>
              <div class="box-title">Main Hand</div>
              <div class="edit-icon icon-btn">
                <ion-icon slot="end" name="pencil" (click)="onSelectEquipment('weapon', character.equipments.mainHandId)"></ion-icon>
              </div>
              <div class="box-body">
                <span>Really long named Item</span>
              </div>
              <div class="arrow-icon icon-btn">
                <ion-icon *ngIf="!isShowHead" name="chevron-down-outline" (click)="isShowHead = true"></ion-icon>
                <ion-icon *ngIf="isShowHead" name="chevron-up-outline" (click)="isShowHead = false"></ion-icon>
              </div>
              <div *ngIf="isShowHead" class="effects-area">
                +1A +3D
              </div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Off Hand</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Chest</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Hands</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Legs</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Feet</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="stats-box equipment-box">
              <div class="box-title">Rings and Trinkets</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="backpack-row">
          <ion-col size="12">
            <div class="stats-box equipment-box h-100 backpack">
              <div class="backpack-items">
                <div class="box-title">Backpack</div>
                <div>Sword</div>
                <div>Shield</div>
                <div>Arrows</div>
              </div>
              <div class="add-icon">
                <ion-fab-button size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>