<ion-content class="parent-header background-color-darker">
  <ion-grid class="h-100" fixed>
    <ion-row class="h-100">
      <ion-col style="display: flex; flex-flow: column;" size="12">
        <ion-row>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Head</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Helmet 80 Arm.</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div><b>Armor:</b> 45</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Main Hand</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword +2A. +1D.</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Off Hand</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Chest</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Hands</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Legs</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="stats-box equipment-box">
              <div class="box-title">Feet</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="stats-box equipment-box">
              <div class="box-title">Rings and Trinkets</div>
              <ion-icon style="float: right;" slot="end" name="pencil"></ion-icon>
              <div>Sword</div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="backpack-row">
          <ion-col size="12">
            <div class="stats-box equipment-box h-100 backpack">
              <div class="backpack-items">
                <div class="box-title">Backpack</div>
                <div>Sword</div>
                <div>Shield</div>
                <div>Arrows</div>
              </div>
              <div class="add-icon">
                <ion-fab-button size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>