<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1><span *ngIf="isSelectType">Select an</span> Item<span *ngIf="!isSelectType">s</span></h1>
  </ion-text>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar [(ngModel)]="searchInput" placeholder="Search" inputmode="text" type="text"
          (ionChange)="onFilterChange($event)" [debounce]="250"></ion-searchbar>
      </ion-col>
      <ion-col size="6">
        <div class="clear-filter">
          <ion-icon *ngIf="typeFilter.value" slot="start" name="close" (click)="typeFilter.value = ''"></ion-icon>
        </div>
        <ion-item class="filter-select">
          <ion-label position="floating">Item Type</ion-label>
          <ion-select #typeFilter [(ngModel)]="itemTypeFilter" placeholder="Filter By Item Type" multiple="true"
            (ionChange)="onFilterChange($event)">
            <ion-select-option value="weapon">Weapon</ion-select-option>
            <ion-select-option value="equipment">Equipment</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <div class="clear-filter">
          <ion-icon *ngIf="bodyProperty.value" slot="start" name="close" (click)="bodyProperty.value = ''"></ion-icon>
        </div>
        <ion-item>
          <ion-label position="floating">Body Property</ion-label>
          <ion-select #bodyProperty [(ngModel)]="bodyPropertyFilter" placeholder="Filter By Body Property"
            multiple="true" (ionChange)="onFilterChange($event)">
            <ion-select-option value="equipment">Equipment</ion-select-option>
            <ion-select-option value="trinket">Rings and Trinkets</ion-select-option>
            <ion-select-option value="shield">Shield</ion-select-option>
            <ion-select-option value="boots">Boots</ion-select-option>
            <ion-select-option value="legs">Legs</ion-select-option>
            <ion-select-option value="head">Head</ion-select-option>
            <ion-select-option value="hands">Hands</ion-select-option>
            <ion-select-option value="weapon">Weapon</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- ********** LIST OF ITEMS BELLOW *********** -->
    <ion-row>
      <ion-col size="12">
        <div *ngIf="isLoading" class="loading-icon">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <ion-accordion-group #accordionGroup>
          <ion-accordion *ngFor="let item of filterredItems" class="legends-item" [value]="item.title">
            <ion-item slot="header">
              <div class="flex-between item-header">
                <div class="flex-between" style="align-items:center">
                  <ion-thumbnail *ngIf="item.image && item.image[0]">
                    <img [src]="item.image[0].url" />
                  </ion-thumbnail>
                  <div class="title-txt">{{ item.title }}</div>
                </div>
                <div><span *ngIf="item.armor">+{{ item.armor }}Armor, </span>{{ item.effects }}</div>
              </div>
            </ion-item>
            <ion-list class="item-details" slot="content">
              <hr>
              <div class="flex-between wrap-reverse">
                <div>
                  <div class="item-details-title">
                    <b *ngIf="item.armor">Armor: +{{ item.armor }}</b>
                    <b>Effects: {{ item.effects }}</b>
                    <b *ngIf="item.tags">Tags: {{ item.tags }}</b>
                    <b *ngIf="item.dmg_type">Dmg Type: {{ item.dmg_type }}</b>
                    <b *ngIf="item.weight">Weight: {{ item.weight }}</b>
                    <b>Item Type: {{ item.item_type }}</b>
                  </div>
                  <div>
                    <p> {{ item.description }} </p>
                    <p>Crafting Requirement: {{ item.crafting_requirements }}</p>
                    <p>Crafting Components: {{ item.components }}</p>
                  </div>
                </div>
                <div>
                  <ion-img *ngIf="item.image && item.image[0]" [src]="item.image[0].url"></ion-img>
                </div>
              </div>
              <ion-button *ngIf="isSelectType === 'all' || item.body_property && isSelectType === item.body_property.toLowerCase() || 
                item.item_type && isSelectType === item.item_type.toLowerCase()" (click)="onItemSelected(item)"
                expand="block" shape="round">
                Select Item
              </ion-button>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>