.item-header {
    width: 100vw;
    align-items: center;
    ion-thumbnail {
        margin-right: 8px;
        padding: 4px;
    }
}

ion-item {
    --border-style: none;
}
.legends-item {
    --ion-background-color: var(--ion-color-light) !important;
    background: var(--ion-color-darker) !important;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 4px;
    margin-bottom: 8px;
}
.item-details {
    padding: 12px;

    .item-details-title {
        display: flex;
        flex-direction: column;
    }
}
.title-txt {
    margin-right: 4px;
}

.clear-filter {
    float: left;
    width: 0px;
    position: relative;
    top: 34px;
    left: -10px;
    z-index: 10;
    ion-icon {
        width: 20px;
        height: 20px;
    }
    ion-icon:hover {
        cursor: pointer;
    }
}
