<ion-content class="parent-header background-color-darker">
  <ion-grid fixed>
    <ion-row *ngIf="characterServ.selectedCharacters.getValue()[characterServ.viewIndex] as character">
      <!-- ********************** STATS SECTION ********************** -->
      <ion-col class="stats-column" size="5">
        <!-- Health -->
        <div (click)="openMoreDetails(Stat.Health)" class="stats-box">
          <div class="flex-between">
            <b>H.</b>
            <span class="calculated-stat">{{ character.primaryStats.maxHealth }}</span>
          </div>
        </div>
        <!-- Stamina -->
        <div (click)="openMoreDetails(Stat.Stamina)" class="stats-box">
          <div class="flex-between">
            <b>Stam:</b>
            <span class="calculated-stat">{{ character.primaryStats.maxStamina }}</span>
          </div>
        </div>
        <!-- Power -->
        <div (click)="openMoreDetails(Stat.Power)" class="stats-box">
          <div class="flex-between">
            <b>P:</b>
            <span class="calculated-stat">{{ character.primaryStats.maxPower }}</span>
          </div>
        </div>
        <!-- Ranged Attack -->
        <div (click)="openMoreDetails(Stat.RangeAttack)" class="stats-box">
          <div class="flex-between">
            <div class="calculated-stat"><b>RA: </b> {{ character.primaryStats.core_ranged | number: '1.0-1' }}
            </div>
            <div>
              <span class="small-text" [ngClass]="{'red-txt': character.primaryStats.rangedAttack - character.primaryStats.core_ranged < 0,
                    'green-txt': character.primaryStats.rangedAttack - character.primaryStats.core_ranged > 0 }">
                <span *ngIf="character.primaryStats.rangedAttack - character.primaryStats.core_ranged >= 0">
                  +</span>{{ character.primaryStats.rangedAttack -
                character.primaryStats.core_ranged | number: '1.0-1' }}
              </span>
              (<span class="calculated-stat" [ngClass]="{'red-txt': character.primaryStats.rangedAttack - character.primaryStats.core_ranged < 0,
                      'green-txt': character.primaryStats.rangedAttack - character.primaryStats.core_ranged > 0 }">{{
                character.primaryStats.rangedAttack | number: '1.0-0' }}</span>)
            </div>
          </div>
        </div>
        <!-- Melee Attack -->
        <div (click)="openMoreDetails(Stat.MeleeAttack)" class="stats-box">
          <div class="flex-between">
            <div><b>MA: </b> {{ character.primaryStats.core_melee | number: '1.0-1' }}
            </div>
            <div>
              <span class="small-text" [ngClass]="{'red-txt': character.primaryStats.meleeAttack - character.primaryStats.core_melee < 0,
                    'green-txt': character.primaryStats.meleeAttack - character.primaryStats.core_melee > 0 }">
                <span *ngIf="character.primaryStats.meleeAttack - character.primaryStats.core_melee >= 0">
                  +</span>{{ character.primaryStats.meleeAttack -
                character.primaryStats.core_melee | number: '1.0-1' }}
              </span>
              (<span class="calculated-stat" [ngClass]="{'red-txt': character.primaryStats.meleeAttack - character.primaryStats.core_melee < 0,
                      'green-txt': character.primaryStats.meleeAttack - character.primaryStats.core_melee > 0 }">{{
                character.primaryStats.meleeAttack | number: '1.0-0' }}</span>)
            </div>
          </div>
        </div>
        <!-- Damage -->
        <div (click)="openMoreDetails(Stat.MeleeDmgDelt)" class="stats-box">
          <div class="flex-between">
            <b>Dmg:</b>
            <span
              *ngIf="!isRangeWeapon(character.equipments.mainHandId) || !isRangeWeapon(character.equipments.offHandId)"
              class="calculated-stat">
              {{ getTotalWeaponDmg(character.equipments.mainHandId, character.equipments.offHandId) }}</span>
            <span
              *ngIf="isRangeWeapon(character.equipments.mainHandId) || isRangeWeapon(character.equipments.offHandId)"
              class="calculated-stat">
              {{ getTotalWeaponDmg(character.equipments.mainHandId, character.equipments.offHandId, true) }}</span>
          </div>
        </div>
        <!-- Defence -->
        <div (click)="openMoreDetails(Stat.Defence)" class="stats-box">
          <div class="flex-between">
            <div><b>D: </b> {{ character.primaryStats.core_defense | number: '1.0-1' }}
            </div>
            <div>
              <span class="small-text" [ngClass]="{'red-txt': character.primaryStats.defense - character.primaryStats.core_defense < 0,
                    'green-txt': character.primaryStats.defense - character.primaryStats.core_defense > 0 }">
                <span *ngIf="character.primaryStats.defense - character.primaryStats.core_defense >= 0">
                  +</span>{{ character.primaryStats.defense -
                character.primaryStats.core_defense | number: '1.0-1' }}
              </span>
              (<span class="calculated-stat" [ngClass]="{'red-txt': character.primaryStats.defense - character.primaryStats.core_defense < 0,
                      'green-txt': character.primaryStats.defense - character.primaryStats.core_defense > 0 }">{{
                character.primaryStats.defense | number: '1.0-0' }}</span>)
            </div>
          </div>
        </div>
        <!-- Strength -->
        <div (click)="openMoreDetails(Stat.Strength)" class="stats-box">
          <div class="flex-between">
            <div><b>Str: </b> {{ character.primaryStats.core_strength | number: '1.0-1' }}
            </div>
            <div>
              <span class="small-text" [ngClass]="{'red-txt': character.primaryStats.strength - character.primaryStats.core_strength < 0,
                    'green-txt': character.primaryStats.strength - character.primaryStats.core_strength > 0 }">
                <span *ngIf="character.primaryStats.strength - character.primaryStats.core_strength >= 0">
                  +</span>{{ character.primaryStats.strength -
                character.primaryStats.core_strength | number: '1.0-1' }}
              </span>
              (<span class="calculated-stat" [ngClass]="{'red-txt': character.primaryStats.strength - character.primaryStats.core_strength < 0,
                      'green-txt': character.primaryStats.strength - character.primaryStats.core_strength > 0 }">{{
                character.primaryStats.strength | number: '1.0-0' }}</span>)
            </div>
          </div>
        </div>
        <!-- Agility -->
        <div (click)="openMoreDetails(Stat.Agility)" class="stats-box">
          <div class="flex-between">
            <div><b>Ag: </b> {{ character.primaryStats.core_agility | number: '1.0-1' }}
            </div>
            <div>
              <span class="small-text" [ngClass]="{'red-txt': character.primaryStats.agility - character.primaryStats.core_agility < 0,
                    'green-txt': character.primaryStats.agility - character.primaryStats.core_agility > 0 }">
                <span *ngIf="character.primaryStats.agility - character.primaryStats.core_agility >= 0">
                  +</span>{{ character.primaryStats.agility -
                character.primaryStats.core_agility | number: '1.0-1' }}
              </span>
              (<span class="calculated-stat" [ngClass]="{'red-txt': character.primaryStats.agility - character.primaryStats.core_agility < 0,
                      'green-txt': character.primaryStats.agility - character.primaryStats.core_agility > 0 }">{{
                character.primaryStats.agility | number: '1.0-0' }}</span>)
            </div>
          </div>
        </div>
        <!-- Accuracy -->
        <div (click)="openMoreDetails(Stat.Accuracy)" class="stats-box">
          <div class="flex-between">
            <div><b>Acc: </b> {{ character.primaryStats.core_accuracy | number: '1.0-1' }}
            </div>
            <div>
              <span class="small-text" [ngClass]="{'red-txt': character.primaryStats.accuracy - character.primaryStats.core_accuracy < 0,
                    'green-txt': character.primaryStats.accuracy - character.primaryStats.core_accuracy > 0 }">
                <span *ngIf="character.primaryStats.accuracy - character.primaryStats.core_accuracy >= 0">
                  +</span>{{ character.primaryStats.accuracy -
                character.primaryStats.core_accuracy | number: '1.0-1' }}
              </span>
              (<span class="calculated-stat" [ngClass]="{'red-txt': character.primaryStats.accuracy - character.primaryStats.core_accuracy < 0,
                      'green-txt': character.primaryStats.accuracy - character.primaryStats.core_accuracy > 0 }">{{
                character.primaryStats.accuracy | number: '1.0-0' }}</span>)
            </div>
          </div>
        </div>
        <!-- Perception -->
        <div (click)="openMoreDetails(Stat.Perception)" class="stats-box">
          <div class="flex-between">
            <div><b>Per: </b> {{ character.primaryStats.core_perception | number: '1.0-1' }}
            </div>
            <div>
              <span class="small-text" [ngClass]="{'red-txt': character.primaryStats.perception - character.primaryStats.core_perception < 0,
                    'green-txt': character.primaryStats.perception - character.primaryStats.core_perception > 0 }">
                <span *ngIf="character.primaryStats.perception - character.primaryStats.core_perception >= 0">
                  +</span>{{ character.primaryStats.perception -
                character.primaryStats.core_perception | number: '1.0-1' }}
              </span>
              (<span class="calculated-stat" [ngClass]="{'red-txt': character.primaryStats.perception - character.primaryStats.core_perception < 0,
                      'green-txt': character.primaryStats.perception - character.primaryStats.core_perception > 0 }">{{
                character.primaryStats.perception | number: '1.0-0' }}</span>)
            </div>
          </div>
        </div>
        <!-- Mental -->
        <div (click)="openMoreDetails(Stat.Mental)" class="stats-box">
          <div class="flex-between">
            <div><b>M: </b> {{ character.primaryStats.core_mental | number: '1.0-1' }}
            </div>
            <div>
              <span class="small-text" [ngClass]="{'red-txt': character.primaryStats.mental - character.primaryStats.core_mental < 0,
                    'green-txt': character.primaryStats.mental - character.primaryStats.core_mental > 0 }">
                <span *ngIf="character.primaryStats.mental - character.primaryStats.core_mental >= 0">
                  +</span>{{ character.primaryStats.mental -
                character.primaryStats.core_mental | number: '1.0-1' }}
              </span>
              (<span class="calculated-stat" [ngClass]="{'red-txt': character.primaryStats.mental - character.primaryStats.core_mental < 0,
                      'green-txt': character.primaryStats.mental - character.primaryStats.core_mental > 0 }">{{
                character.primaryStats.mental | number: '1.0-0' }}</span>)
            </div>
          </div>
        </div>
        <!-- Movement -->
        <div (click)="openMoreDetails(Stat.Movement)" class="stats-box">
          <div class="flex-between">
            <div><b>Mov: </b> {{ character.primaryStats.core_movement | number: '1.0-1' }}
            </div>
            <div>
              <span class="small-text" [ngClass]="{'red-txt': character.primaryStats.movement - character.primaryStats.core_movement < 0,
                    'green-txt': character.primaryStats.movement - character.primaryStats.core_movement > 0 }">
                <span *ngIf="character.primaryStats.movement - character.primaryStats.core_movement >= 0">
                  +</span>{{ character.primaryStats.movement -
                character.primaryStats.core_movement | number: '1.0-1' }}
              </span>
              (<span class="calculated-stat" [ngClass]="{'red-txt': character.primaryStats.movement - character.primaryStats.core_movement < 0,
                      'green-txt': character.primaryStats.movement - character.primaryStats.core_movement > 0 }">{{
                character.primaryStats.movement | number: '1.0-0' }}</span>)
            </div>
          </div>
        </div>
      </ion-col>
      <!-- ***************** EQUIPMENT SECTION ********************** -->
      <ion-col size="7">
        <div class="flex-between">
          <!-- Armor -->
          <div class="stats-box flex-grow" (click)="openMoreDetails(Stat.Armor)">
            <span class="ion-text-end calculated-stat">Armor:
              {{ character.primaryStats.maxArmor | number: '1.0-1' }}
            </span>
          </div>
          <!-- Crit -->
          <div class="stats-box flex-grow" (click)="openMoreDetails(Stat.Crit)">
            <span>
              <span><b>Crit:</b>
              </span>
              <span class="small-text" [ngClass]="{'red-txt': character.primaryStats.critChance - 
                    character.primaryStats.core_critChance < 0,
                  'green-txt': character.primaryStats.critChance - character.primaryStats.core_critChance > 0 }">
                <span *ngIf="character.primaryStats.critChance - character.primaryStats.core_critChance >= 0">
                  +</span>{{ character.primaryStats.critChance -
                character.primaryStats.core_critChance | number: '1.0-2' }}</span>(<span class="calculated-stat"
                [ngClass]="{'red-txt': character.primaryStats.critChance - character.primaryStats.core_critChance < 0,
                  'green-txt': character.primaryStats.critChance - character.primaryStats.core_critChance > 0 }">{{
                character.primaryStats.critChance | percent: '1.0-2' }}</span>)
            </span>
          </div>
        </div>
        <div class="flex-between">
          <!-- MAIN HAND -->
          <div class="stats-box equipment-box" (click)="openMoreDetails(null, BodyPart.MainHand)">
            <div class="ion-text-center">Main Hand</div>
            <div class="img-slot">
              <ion-img [src]="getImgFromId(character.equipments.mainHandId, 
                  '../../../assets/icons/main-hand-empty.png')">
              </ion-img>
            </div>
            <div class="ion-text-end ammo-count">
              <div class="container">
                <span>14</span>
              </div>
            </div>
          </div>
          <!-- OFF HAND -->
          <div class="stats-box equipment-box" (click)="openMoreDetails(null, BodyPart.OffHand)">
            <div class="ion-text-center">Off Hand</div>
            <div class="img-slot">
              <ion-img [src]="getImgFromId(character.equipments.offHandId, 
                  '../../../assets/icons/main-hand-empty.png')">
              </ion-img>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>