<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Legends Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-color-darker">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <div class="ion-text-end">
              <ion-label style="position: relative; top: -12px;">Register New Account</ion-label>
              <ion-toggle [(ngModel)]="isRegister" color="primary" (ionChange)="setLoginForm()"></ion-toggle>
            </div>
            <ion-card-title class="ion-text-center">Login With Email And Password</ion-card-title>
          </ion-card-header>
          <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <ion-card-content>
              <!-- USER NAME -->
              <ion-item *ngIf="isRegister">
                <ion-label position="floating">User Name</ion-label>
                <ion-input [formControl]="userName" inputmode="text"></ion-input>
              </ion-item>
              <ion-text *ngIf="userName.errors" color="danger">
                <span *ngIf="(userName.dirty || userName.touched) && userName.errors['required']">User Name is
                  required</span>
                <span *ngIf="(userName.dirty || userName.touched) && userName.errors['maxlength']">Please use a maximum
                  of 22 characters</span>
              </ion-text>
              <!-- EMAIL -->
              <ion-item>
                <ion-label inputmode="email" position="floating">Email</ion-label>
                <ion-input [formControl]="email" inputmode="email" autocomplete="email"></ion-input>
              </ion-item>
              <ion-text *ngIf="email.errors" color="danger">
                <span *ngIf="(email.dirty || email.touched) && email.errors['required']">Email is required</span>
                <span *ngIf="(email.dirty || email.touched) && email.errors['email']">Must be a valid Email</span>
              </ion-text>
              <!-- PASSWORD -->
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input [formControl]="password" inputmode="password" (ionChange)="checkPasswordMatch()"></ion-input>
              </ion-item>
              <ion-text *ngIf="password.errors" color="danger">
                <span *ngIf="(password.dirty || password.touched) && password.errors['required']">Password is
                  required</span>
                <span *ngIf="(password.dirty || password.touched) && password.errors['minlength']">Password must be a
                  minimum of 6 characters long</span>
              </ion-text>
              <!-- CONFIRM PASSWORD -->
              <ion-item *ngIf="isRegister">
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input [formControl]="confirmPass" inputmode="password" (ionChange)="checkPasswordMatch()">
                </ion-input>
              </ion-item>
              <ion-text *ngIf="confirmPass.errors" color="danger">
                <span *ngIf="(confirmPass.dirty || confirmPass.touched) && confirmPass.errors['required']">confirmPass is
                  required</span>
                <span *ngIf="isRegister && (confirmPass.dirty || confirmPass.touched) && confirmPass.errors['notMatch']">Password does not match</span>
              </ion-text>
            </ion-card-content>
            <ion-row>
              <ion-col class="ion-text-center" size="12">
                <ion-button *ngIf="!isRegister" [disabled]="!loginForm.valid" color="primary" type="submit">
                  Login
                </ion-button>
                <ion-button *ngIf="isRegister" [disabled]="!loginForm.valid" color="primary" type="submit">
                  Register
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Login With Google</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="ion-text-center">
              <ion-button color="primary" (click)="onLoginWithGoogle()">
                <ion-icon name="logo-google"></ion-icon>oogle
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Login With Apple</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary" class="ion-text-center">
              <h4>Sure, it would be nice if you could login with Apple right? 
                Unfortunately Apple makes everything like this really dificult for programmers to impliment, so... blame them.</h4>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>