<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col class="flex-between">
          <div class="header-box">
            <div>Stats:</div>
            <div>28</div>
          </div>
          <div class="header-box">
            <div>Gold:</div>
            <div>280</div>
          </div>
          <div class="header-box">
            <div>Skills:</div>
            <div>30</div>
          </div>
          <div class="header-box">
            <div>Ab/Atr:</div>
            <div>28</div>
          </div>
          <div>
            <ion-fab-button [routerLink]="['/select-character']" size="small">
              <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="stats-selection">
      <ion-icon name="man-outline"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="equipment-selection">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Equipments</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="skills-selection">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Skills</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="abilities-selection">
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label>Abilities/Traits</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="abilities-selection">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label>Review</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>