<ion-header>
  <ion-toolbar>
    <ion-title>Character Creation</ion-title>
    <ion-fab-button slot="end" size="small" [routerLink]="['/select-character']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="stats-selection">
      <ion-icon name="man-outline"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="equipment-selection">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Equipments</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="skills-selection">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Skills</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="abilities-selection">
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label>Abilities/Traits</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>