<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-title>
            <ion-button [routerLink]="['/', backUrl]" routerLinkActive="router-link-active"  fill="clear">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
            <span>My Profile</span>
          </ion-title>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-button (click)="onLogout()" color="danger">
            Log Out
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button routerLink="/special-convention">
          See Convention Selections
        </ion-button>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>