<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="abilities-list">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Abilities</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="items-list">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Items</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="skills-traits-list">
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label>Skills/Traits</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="rules">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Rules/Lore</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="lore">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Lore</ion-label>
    </ion-tab-button> -->
    <div>
      <ion-fab-button [routerLink]="[backUrl]" [queryParams]="backQuerySegmentSelection" routerLinkActive="router-link-active"  size="small">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-tab-bar>
</ion-tabs>