<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="abilities-list">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Abilities</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="equipment-selection">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Equipments</ion-label>
    </ion-tab-button> -->
    <!-- <ion-tab-button tab="abilities-selection">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Abilities</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="skills-selection">
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label>Skills/Traits</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="review">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label>Review</ion-label>
    </ion-tab-button> -->
    <div>
      <ion-fab-button [routerLink]="['/main-lobby']" routerLinkActive="router-link-active"  size="small">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-tab-bar>
</ion-tabs>