<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1>Skills and Traits</h1>
  </ion-text>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar [(ngModel)]="searchInput" placeholder="Search" inputmode="text" type="text" (ionChange)="onFilterChange($event)"
          [debounce]="250"></ion-searchbar>
      </ion-col>
      <ion-col size="6">
        <div class="clear-filter">
          <ion-icon *ngIf="typeFilter.value" slot="start" name="close" (click)="typeFilter.value = ''"></ion-icon>
        </div>
        <ion-item class="filter-select">
          <ion-label position="floating">Tags</ion-label>
          <ion-select #typeFilter [(ngModel)]="skillTagFilter" placeholder="Filter By Tags" multiple="true" (ionChange)="onFilterChange($event)">
            <ion-select-option value="attack">Attack</ion-select-option>
            <ion-select-option value="defence">Defence</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div *ngIf="isLoading" class="loading-icon">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <ion-accordion-group #accordionGroup>
          <ion-accordion *ngFor="let skillTraits of filterredSkills" class="legends-item" [value]="skillTraits.title">
            <ion-item slot="header">
              <div class="flex-between item-header">
                <div class="flex-between" style="align-items:center">
                  <ion-thumbnail *ngIf="skillTraits.image && skillTraits.image[0]">
                    <img [src]="skillTraits.image[0].url" />
                  </ion-thumbnail>
                  <div class="title-txt">{{ skillTraits.title }}</div>
                </div>
                <div>{{ skillTraits.cost }}</div>
              </div>
            </ion-item>
            <ion-list class="item-details" slot="content">
              <hr>
              <div class="item-details-title">
                <b>{{ skillTraits.tags }}</b>
              </div>
              <div>
                <p>{{ skillTraits.effects }}</p>
              </div>
              <ion-button *ngIf="isSelectMode" (click)="onSkillSelected(skillTraits)" expand="block" shape="round">
                Select Item
              </ion-button>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>