@import '../../../theme/variables.scss';


ion-row {
    //margin-top: -10px;
}

ion-card {
    --ion-background-color: var(--ion-color-light) !important;
}

ion-item {
    // ion-label {
    //     font-size: 11pt;
    // }
    // ion-input {
    //     font-size: 11pt;
    //     font-weight: bold;
    // }
}


.stats-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--ion-color-dark);
    border-radius: 6px;
    padding: 6px;
    margin: 2px;
    height: 37px;
    font-size: 14pt;
    ion-button {
        margin-left: 24px;
        margin-bottom: 5px;
        width: 28px;
        transform: scale(.8);
        ion-icon {
            font-size: 14pt;
            font-weight: bold;
        }
    }
}

.small-text {
    position: relative;
    top: -2px;
    font-size: 10pt;
}

.red-txt {
    color: var(--ion-color-danger-shade);
}

.green-txt {
    color: var(--ion-color-success-shade);
}

ion-icon.info:hover {
    cursor: pointer;
}
