<ion-content class="parent-header background-color-darker">
  <ion-grid fixed>
    <ion-row>
      <ion-col class="flex-between" size="12">
        <ion-button size="small">
          arrange
        </ion-button>
        <ion-text color="primary">
          <h2>Abilities</h2>
        </ion-text>
        <ion-fab-button size="small" (click)="onOpenAbilitiesList()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="stats-box" size="12">
        <div class="box-title">Foundations</div>
        <div class="foundations-list">
          <!-- ngFor the selected items here -->
          <div class="stats-box foundation-tags">
            basic anatomy
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="width: 106%; margin-left: -3%;">
      <ion-col size="12">
        <ion-accordion-group>
          <ion-reorder-group disabled="true">
            <!-- ngFor the selected Skills here -->
            <ion-item>
              <ion-reorder slot="start"></ion-reorder>
                  <ion-accordion class="ability-item" value="colors">
                    <ion-item slot="header">
                      <div class="flex-between ability-header">
                        <div>Fireball</div>
                        <div>-1TU</div>
                        <div>-1 Stam. -3P.</div>
                      </div>
                    </ion-item>
                    <ion-list class="ability-details" slot="content">
                      <hr>
                      <div class="ability-details-title">
                        <b>Tags: Templar, Fire</b>
                        <b>Prereq: Air Manipulation, Ionic Transmutation</b>
                        <b>Cost: -1 Stam. -3P. -1TU</b>
                      </div>
                      <div>
                        <p>
                          Roll 6 dice plus your total M. Enemy rolls Ag -75% to deduct Dmg from your roll. 
                          If it Hits every unit imediatly adjacent to target suffers 25% of the Dmg afflicted. 
                          (Can be used to counter energy based attacks if your Action is still available this turn)
                        </p>
                      </div>
                    </ion-list>
                  </ion-accordion>
            </ion-item>
          </ion-reorder-group>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>