
ion-icon {
    cursor: pointer;
    transform: scale(1.4);
    margin-left: 20px;
}

.loading {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    ion-spinner {
        transform: scale(2);
    }
}

.portrait-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portrait {
    cursor: pointer;
    margin: 4px;
    ion-img {
        width: 100px;
        min-width: 100px;
        min-height: 100px;
        border: 1px solid var(--ion-color-primary);;
    }
}
