ion-col {
    --ion-grid-column-padding: 2px;
}

.h-100 {
    height: 100%;
}

.equipment-sheet {
    display: flex;
    flex-flow: column;
}
.img-slot-background {
    background-image: url("../../../assets/icons/cell-empty.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    grid-column: 1;
    grid-row: 1/3;
    max-height: 80px;
    max-width: 80px;
    ion-img {
        height: 100%;
    }
}

.equipment-box {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: 1fr 2fr auto;
    //max-height: 120px;
}
.img-slot {
    grid-column: 1;
    grid-row: 1/3;
    max-height: 80px;
    ion-img {
        height: 100%;
    }
}

.off-hand-shadow {
    background-color: var(--ion-color-medium);
    border-radius: 12px;
    ion-img {
        filter: grayscale(1) !important; 
    }
}

.box-title {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}
.edit-icon {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    font-size: 14pt;
}
.box-body {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    place-self: center;
    span:hover {
        cursor: pointer;
    }
}
.arrow-icon {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    align-self: end;
}
.effects-area {
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;
    background-color: var(--ion-color-medium);
    border-radius: 4px;
}
.trinkets-list {
    display: flex;
    flex-wrap: wrap;
}
.trinket {
    max-width: 60px;
}
.img-trinket {
    max-width: 60px;
}
.remove-trinket-btn {
    height: 0px;
    text-align: end;
    // ion-icon {
    //     background-color: var(--ion-color-danger);
    //     color: var(--ion-color-danger-contrast);
    //     border-radius: 50%;
    // }
}
.backpack-remove-btn {
    height: 0px;
    ion-icon {
        background-color: var(--ion-color-danger);
        color: var(--ion-color-danger-contrast);
        border-radius: 50%;
        padding: 2px;
    }
}
.trinket-effects {
    position: relative;
    top: -4px;
    font-size: 11pt;
}

.backpack-row {
    flex-grow: 1;
}

.backpack {
    display: flex;
    flex-direction: column;
}
.backpack-items-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
.backpack-item {
    margin: 4px;
}
.img-backpackItem {
    width: 80px;
    ion-img {
        width: 80px;
    }
    ion-button {
        position: relative;
        top: -32px;
        --background:rgba(43,58,103, 0.8) !important;
    }
}

.add-icon {
    align-self: end;
    float: right;
}

.btn-effect:hover {
    cursor: pointer;
}
