<ion-header>
  <ion-icon *ngIf="gameRoom" id="back-icon" slot="start" name="arrow-back" (click)="closeModal()"></ion-icon>
  <ion-text class="ion-text-center">
    <h2>Select Character(s)</h2>
  </ion-text>
  @if(gameRoom) {
    <ion-toolbar>
      <h5 style="text-align: center;">You are allowed to select {{gameRoom.charactersPerPlayerAlloted}} for this game</h5>
    </ion-toolbar>
  } @else {
    <ion-toolbar>
      <ion-button slot="start" color="danger" (click)="onDeleteCharacters()">
        Delete
      </ion-button>
      <ion-button slot="end" [routerLink]="['/character-creation-tabs']">
        Create New
      </ion-button>
    </ion-toolbar>
  }
</ion-header>

<ion-content class="background-color-darker">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        @if (characters && characters.length == 0) {
        <h2>You have no characters, try creating a new one.</h2>
        } @else {
        @for (character of characters; track character) {
        <ion-item lines="none">
          <ion-checkbox slot="end" [(ngModel)]="character.isPlayerUsing"></ion-checkbox>
          <ion-thumbnail class="portrait">
            <img [src]="character.portraitUrl" />
          </ion-thumbnail>
          <ion-label style="z-index: -1;" class="ion-margin-start">{{ character.characterName }} <span *ngIf="character.classTitle">({{
              character.classTitle }})</span></ion-label>
        </ion-item>

        }

        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="onFinishSelection()" [disabled]="isBtnDisabled()">
      Done
    </ion-button>
  </ion-toolbar>
</ion-footer>