
.location-container {
    display: flex;
    align-items: center;
}

.number {
    font-size: 18pt;
    font-weight: bold;
    margin-right: 8px;
}

ion-item {
    width: 95%;
}
.location {
    display: flex;
    align-items: center;
    .img {
        width: 100px;
    }
    .rating {
        font-weight: 400;
        font-size: 11pt;
    }
}

.location-text {
    font-family: WTMannaSans,Roboto,'Noto Sans','Helvetica Neue',Helvetica,Arial,'Arial Unicode MS',sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

